COMPOSE_PROJECT_NAME=microschema

# --- Database (Local mapping) ---
MYSQL_DATABASE=microschema
MYSQL_ROOT_PASSWORD=change-me
# MYSQL_USER=root
# MYSQL_PASSWORD=${MYSQL_ROOT_PASSWORD}

# --- Docker External Network Connections ---
MYSQL_EXTERNAL_PORT=52306
SITE_EXTERNAL_PORT=52080
XDEBUG_CLIENT_PORT=9004

# --- Joomla auto deployment ---
JOOMLA_SITE_NAME=Microschema
JOOMLA_ADMIN_USER=Administrator
JOOMLA_ADMIN_USERNAME=admin
JOOMLA_ADMIN_PASSWORD=change-me-please-2026
JOOMLA_ADMIN_EMAIL=admin@example.test

# --- Docker Internal DB Connection ---
JOOMLA_DB_HOST=db
JOOMLA_DB_NAME=${MYSQL_DATABASE}
JOOMLA_DB_USER=root
JOOMLA_DB_PASSWORD=${MYSQL_ROOT_PASSWORD}

# --- Joomla extensions ---
JOOMLA_EXTENSIONS_URLS=
JOOMLA_EXTENSIONS_PATHS=

# --- PHP ---
UPLOAD_MAX_FILESIZE=50M
